%p
  Hello,
%p
  You have received an enquiry from Bhagwant Export site. 
  Details are:
%p 
  Name: #{@contact.name}
  %br  
  Email: #{@contact.email}
  %br
  Phone: #{@contact.phone}
  %br
  Company: #{@contact.company}
  Message: #{@contact.message}
%p
  Thank You.
