= render 'shared/breadcrumbs', data: nil
.container
  .row
    - @products.each do |product|
      .col-md-4.product-details
        .thumbnail
          = image_tag "portfolio/#{product[:image]}", alt: "Screenshot of #{product[:title]}", class: 'product-thumbnail'
          .caption
            %h3= product[:title]
            %p
            %p
              %a.btn.btn-primary{:href => contact_us_path, :role => "button", :target => '_blank'} Enquiry

